__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Local data (keep folder, ignore files)
data/raw/*
!data/raw/README.md

# Optional outputs (not committed)
/artifacts/*.png
/artifacts/*.csv
/artifacts/*.json

# Virtualenv
.venv/
