__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Local data (not committed)
/data/raw/*.csv

# Optional outputs (not committed)
/artifacts/*.png
/artifacts/*.csv
/artifacts/*.json

# Virtualenv
.venv/
